.login {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.login .login-content h2 {
  text-align: center;
}
.login .login-content .login-board {
  width: 500px;
  height: 580px;
  padding: 30px;
  box-shadow: 0px 0px 33px -2px rgba(0, 0, 0, 0.3);
}
.login .login-content .login-board h2 {
  font-size: 35px;
  color: #E1E1E1;
  font-weight: 500;
  margin-bottom: 80px;
}
.login .login-content .login-board form {
  padding: 0 30px;
}
.login .login-content .login-board form .txt-field {
  border-bottom: 1px solid #000;
  margin-top: 40px;
}
.login .login-content .login-board form .txt-field input {
  width: 100%;
  height: 40px;
  font-size: 20px;
  border: none;
  background: none;
  outline: none;
  color: #b3b3b3;
}
.login .login-content .login-board form .txt-field label {
  font-size: 22px;
}
.login .login-content .login-board form .button-section {
  margin-top: 60px;
}
.login .login-content .login-board form .button-section .left {
  float: left;
  text-align: start;
}
.login .login-content .login-board form .button-section .left a {
  position: relative;
  color: #E01025;
  font-size: 21px;
  vertical-align: middle;
  line-height: 66px;
  transition: 0.5s;
  padding: 5px;
}
.login .login-content .login-board form .button-section .left a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  border-bottom: 2px solid #E01025;
  transition: 0.5s;
}
.login .login-content .login-board form .button-section .left a:hover::before {
  width: 100%;
  height: 100%;
}
.login .login-content .login-board form .button-section .right {
  text-align: end;
}
.login .login-content .login-board form .button-section .right button {
  position: relative;
  font-size: 21px;
  padding: 15px 20px;
  background: none;
  color: #FC9219;
  background: none;
  transition: 0.5s;
  border: none;
}
.login .login-content .login-board form .button-section .right button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 12px;
  height: 12px;
  border-top: 3px solid #FC9219;
  border-left: 3px solid #FC9219;
  transition: 0.5s;
}
.login .login-content .login-board form .button-section .right button::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 12px;
  height: 12px;
  border-right: 3px solid #FC9219;
  border-bottom: 3px solid #FC9219;
  transition: 0.5s;
}
.login .login-content .login-board form .button-section .right button:hover::before {
  width: 100%;
  height: 100%;
}
.login .login-content .login-board form .button-section .right button:hover::after {
  width: 100%;
  height: 100%;
}

.register {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.register .register-content .register-board {
  width: 1200px;
  height: 600px;
  padding: 30px;
  box-shadow: 0px 0px 33px -2px rgba(0, 0, 0, 0.3);
}
.register .register-content .register-board h2 {
  text-align: center;
  font-size: 35px;
  color: #E1E1E1;
  font-weight: 500;
  margin-bottom: 60px;
}
.register .register-content .register-board form {
  padding: 0 30px;
}
.register .register-content .register-board form .row {
  margin-left: 20px;
}
.register .register-content .register-board form .txt-field {
  border-bottom: 1px solid #000;
  margin-top: 40px;
  width: 315px;
  margin-right: 20px;
}
.register .register-content .register-board form .txt-field input {
  width: 100%;
  height: 40px;
  font-size: 20px;
  border: none;
  background: none;
  outline: none;
  color: #b3b3b3;
}
.register .register-content .register-board form .txt-field label {
  font-size: 22px;
}
.register .register-content .register-board form .right {
  text-align: end;
}
.register .register-content .register-board form .right button {
  position: relative;
  font-size: 21px;
  padding: 15px 95px;
  margin-top: 70px;
  margin-left: 330px;
  background: none;
  color: #E01025;
  transition: 0.5s;
  border: none;
}
.register .register-content .register-board form .right button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border-top: 3px solid #E01025;
  border-left: 3px solid #E01025;
  transition: 0.5s;
}
.register .register-content .register-board form .right button::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 15px;
  height: 15px;
  border-right: 3px solid #E01025;
  border-bottom: 3px solid #E01025;
  transition: 0.5s;
}
.register .register-content .register-board form .right button:hover::before {
  width: 100%;
  height: 100%;
}
.register .register-content .register-board form .right button:hover::after {
  width: 100%;
  height: 100%;
}

.wyborlekarza-content {
  margin-top: 50px;
}
.wyborlekarza-content .wyborlekarza-title {
  font-size: 50px;
  color: #c0bdbd;
  font-weight: 500;
}
.wyborlekarza-content .wyborlekarza-subtitle {
  font-size: 40px;
  color: #c0bdbd;
  font-weight: 400;
  margin-bottom: 100px;
}
.wyborlekarza-content .wyborlekarza-board {
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
}
.wyborlekarza-content .wyborlekarza-board a {
  text-decoration: none;
  color: black;
}
.wyborlekarza-content .wyborlekarza-board a .wyborlekarza-card {
  width: 350px;
  height: 350px;
  margin: 20px;
  padding: 90px 30px 30px 30px;
  box-shadow: 0px 0px 33px -2px rgba(0, 0, 0, 0.3);
}
.wyborlekarza-content .wyborlekarza-board a .wyborlekarza-card h3 {
  font-size: 30px;
  text-transform: uppercase;
}
.wyborlekarza-content .wyborlekarza-board a .wyborlekarza-card hr {
  margin-top: 70px;
}
.wyborlekarza-content .wyborlekarza-board a .wyborlekarza-card h4 {
  color: #fd7e14;
}

.kalendarzlekarza-content .kalendarzlekarza-info {
  padding-top: 150px;
  border-right: 2px solid #cacaca;
}
.kalendarzlekarza-content .kalendarzlekarza-calendar .event-container #wizyta label {
  margin-top: 30px;
  font-size: 22px;
  color: #835501;
  font-weight: bold;
}
.kalendarzlekarza-content .kalendarzlekarza-calendar .event-container #wizyta select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  width: 75%;
  margin: auto;
  border-bottom: 1px solid #835501;
  color: #835501;
  font-size: 21px;
  -moz-text-align-last: center;
       text-align-last: center;
}
.kalendarzlekarza-content .kalendarzlekarza-calendar .event-container #wizyta .txt-field {
  border-bottom: 1px solid #835501;
  width: 75%;
  margin-top: 20px;
  margin: auto;
}
.kalendarzlekarza-content .kalendarzlekarza-calendar .event-container #wizyta .txt-field input {
  width: 100%;
  height: 30px;
  font-size: 21px;
  border: none;
  background: none;
  outline: none;
  color: #835501;
}
.kalendarzlekarza-content .kalendarzlekarza-calendar .event-container #wizyta button {
  position: relative;
  margin-top: 70px;
  font-size: 21px;
  padding: 10px 15px;
  background: none;
  color: #835501;
  font-weight: bold;
  border: none;
  transition: 0.5s;
}
.kalendarzlekarza-content .kalendarzlekarza-calendar .event-container #wizyta button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border-top: 3px solid #835501;
  border-left: 3px solid #835501;
  transition: 0.5s;
}
.kalendarzlekarza-content .kalendarzlekarza-calendar .event-container #wizyta button::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 15px;
  height: 15px;
  border-right: 3px solid #835501;
  border-bottom: 3px solid #835501;
  transition: 0.5s;
}
.kalendarzlekarza-content .kalendarzlekarza-calendar .event-container #wizyta button:hover::before {
  width: 100%;
  height: 100%;
}
.kalendarzlekarza-content .kalendarzlekarza-calendar .event-container #wizyta button:hover::after {
  width: 100%;
  height: 100%;
}
